/* headers icon */
.Author {
   padding-left: 1%;
   font-size: 20px;
   font-family: 'Dancing Script', cursive;
   padding-top: 0.5%;

}

/* Navigation box */
.navGroup {
   width: 800px;
   height: 120px;
   margin-right: auto;
   margin-left: auto;
   border-radius: 50px 50px 50px 50px;
   box-shadow: 10px 10px 54px 10px rgb(143, 172, 170);
   position: relative;
   background: linear-gradient(to top right, rgb(201, 249, 255), rgb(244, 253, 244)) no-repeat;

}

/* Search Button */

.searchButton button {
   cursor: help;
}

.searchButton {
   margin-top: 4%;
   margin-left: 85%;
   position: static;
   padding: 20px;
}

.searchButton:hover>* {
   opacity: 0.5;
}

.searchButton:hover>*:hover {
   transform: scale(1.1);
   opacity: 1;
}

.searchButton {
   pointer-events: none;
}

.searchButton>* {
   pointer-events: auto;

}

/* Navigation key-txt */

.navigationKey {
   font-size: 20px;
   font-family: cursive;
   color: rgb(17, 39, 41);
   margin-top: 3%;
   padding: auto;
   display: flex;
   justify-content: space-around;
   text-decoration: underline;
   cursor: pointer;

}

.navigationKey:hover>* {
   opacity: 0.5;
}

.navigationKey:hover>*:hover {
   transform: scale(1.1) rotate(358deg);
   opacity: 1;
}

.navigationKey {
   pointer-events: none;
}

.navigationKey>* {
   pointer-events: auto;

}

/* page bg */

html,
body {
   background-color: rgb(201, 249, 255);
   background: linear-gradient(to top left, rgb(201, 249, 255), rgb(244, 253, 244)) no-repeat;
}

/* all text styles */

.text {
   padding-top: 50px;
   height: 70px;
   margin-right: 20%;
   margin-left: 20%;
   margin-bottom: 3%;
   opacity: 100%;
   position: sticky;

}

/* Body-Author-image */
.AuthorImg {
   padding-top: 5%;
   font-size: 100px;
   font-family: 'Dancing Script', cursive;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   background-size: cover;

}

/* body text under image */
.HibinsText {
   padding-bottom: 50px;
   margin-left: 50%;
   margin-right: 50%;
   margin-top: 0%;
   color: rgb(2, 2, 2);
   font-size: 33px;
   font-family: cursive;
   text-decoration: none;
}


/* Photo gallery */
.container {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;

}

.photo {
   float: left;
   width: 33.333333%;
   padding: 10px;
   box-sizing: border-box;
}

.photo img {
   /*Адаптив картинок*/
   display: block;
   max-width: 100%;
   height: auto;
   border: 10px solid #eee;
   box-sizing: border-box;
}

/* Photo gallery animation */
.photo a:hover {
   opacity: 0.5;
}

.photo a {
   display: block;
   position: relative;
}

.photo a:after {
   content: '';
   background: transparent url(icons/eye-icon.png) no-repeat center;
   width: 52px;
   height: 35px;
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   visibility: hidden;
}

.photo:hover>a:after {
   visibility: visible;
}

.photo figcaption {

   color: #999999;
   text-align: center;
   margin-top: 20px;
}

h1 {
   font-size: 36px;
   text-transform: uppercase;
   color: #cccccc;
   text-align: center;
   margin: 30px 0;
}
